<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form th:action="@{/users/tes}" th:object="${cati}">
        <label for="category">Catégorie :</label>
        <select id="category" required>
            <option th:each="cat : ${T(com.proj.enumm.Category).values()}" th:value="${cat}" th:text="${cat}"></option>
        </select>
        <input type="submit" value="">
    </form>
</body>

</html>